[tools]
bat = "latest"
chezmoi = "latest"
ripgrep = "latest"
lsd = "latest"
npm = "latest"
lazygit = "latest"
fzf = "latest"
flux2 = "latest"
k9s = "latest"
vim = "latest"
gh = "latest"

{{ if not (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "amd64")) }}
fd = "latest"
neovim = "latest"
{{ end }}
